@using Azure
@model dweb.Models.DTOs.RegistoDTO
@{
    ViewData["Title"] = "Update";
}

<div class="d-flex justify-content-center mt-4">
    <h2>Utilizadores</h2> 
</div>

@*lista de Utilizadoeres e formulário de criação dos mesmos*@
<div class="d-flex justify-content-between p-4" style="gap: 2rem;">
    <div style="flex: 1;">
        <h4>Utilizadores</h4>
        
        <div id="utilizadores-container"
             data-bs-spy="scroll"
             data-bs-target="#navbar-example2"
             data-bs-offset="0"
             class="scrollspy-example border p-3"
             style="height: 400px; overflow-y: auto;"
             tabindex="0">
        </div>
    </div>

    @*lista de filmes e formulário de criação dos Utilizadores através de um admin*@
    <div style="flex: 1;">
        <div class="d-flex justify-content-center">
            <h4>Criar Novo Utilizador</h4>
        </div>
        
        <form asp-action="Registo" asp-controller="Auth" method="post">
            <div class="form-floating mb-3">
                <input asp-for="UserName" class="form-control" autocomplete="username" placeholder=""/>
                <label asp-for="UserName">Nome de Utilizador</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="email" placeholder="name@example.com"/>
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" type="password" class="form-control" autocomplete="new-password" placeholder="password"/>
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="new-password" placeholder="password"/>
                <label asp-for="ConfirmPassword">Confirmar Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button style="margin-left: 1rem; margin-right: 1rem; background: linear-gradient(90deg,#2980b9,#6dd5fa); color:white; border:none; font-weight:600;" type="submit" class="btn btn-primary ">Criar Utilizador</button>
            </div>

        </form>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", async () => {
        const container = document.getElementById("utilizadores-container");

        try {
            const response = await fetch('/api/Utilizador');
            const utilizadores = await response.json();

            container.innerHTML = '';

            
            utilizadores.forEach(u => {
                const div = document.createElement("div");
                div.innerHTML = `
                    
                        <form class="d-flex justify-content-between align-items-center " action="/User/Update" method="get">
                                <input type="hidden" name="id" value="${u.id}"/>
                                <strong><p>${u.email}</p></strong>
                              
                                <button class="btn" style="margin-left: 1rem; margin-right: 1rem; background: linear-gradient(90deg,#2980b9,#6dd5fa); color:white; border:none; font-weight:600;" type="submit">
                                    Ir
                                </button>     
                         
                        </form>
                  
                     
                `;
                container.appendChild(div);
            });
        } catch (error) {
            container.innerHTML = "<p>Erro ao carregar dados.</p>";
        }
    });


   
</script>

<style>
    
</style>
