@{
    
}

<div class="container py-5 d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-primary">Informações dos Alunos</h1>

    <div class="course-info text-center mb-2">
        <h4>Curso: <strong>Engenharia Informática</strong></h4>
        <h5>Ano Letivo: <strong>2024/2025</strong></h5>
    </div>

    <div class="card p-4 mb-3 w-75">
        <h3 class="mb-1">Afonso Rafael Gaspar da Costa</h3>
        <p class="text-muted">N.º de Aluno: <strong>24855</strong></p>
        <img style="width: 40px; height: 40px" src="@Url.Content("~/images/fonsi.jpg")"/>
    </div>
    <div class="card p-4 w-75">
        <h3 class="mb-1">Gabriel António Lopes Cravo</h3>
        <p class="text-muted">N.º de Aluno: <strong>24842</strong></p>
        <img style="width: 40px; height: 40px" src="@Url.Content("~/images/placeholder_user.jpg")"/>
    </div>
</div>
<div class="py-5 d-flex justify-content-center align-items-center flex-column">
    <div class="frameworks card p-4 w-75">
        <h4>Frameworks e Bibliotecas:</h4>
        <div class="text-center">
            <h5>Identity</h5>
            <h5>Entity Framework</h5>
            <h5>LINQ</h5>
            <h5>Arquitetura MVC</h5>
            <h5>Bootstrap</h5>
            <h5>SignalR</h5>
        </div>

    </div>
</div>
