@model List<dweb.Models.Actor>
@{
    ViewData["Title"] = "Actores";
}

<div class="d-flex justify-content-center mt-4">
    <h2>Actores</h2>
</div>

<div class="d-flex justify-content-between p-4" style="gap: 2rem;">
    <div style="flex: 1;">
        <h4>Actores</h4>
        <div id="utilizadores-container"
             data-bs-spy="scroll"
             data-bs-target="#navbar-example2"
             data-bs-offset="0"
             class="scrollspy-example border p-3"
             style="height: 400px; overflow-y: auto;"
             tabindex="0">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var u in Model)
                {
                    <div>
                        <h3>@u.nome</h3>
                        <a asp-action="ActorDetails" asp-controller="Actor" asp-route-id="@u.actorID" class="d-flex">
                            <button type="button" class="btn" style="background: linear-gradient(90deg,#2980b9,#6dd5fa); color:white; border:none; font-weight:600;">Ir</button>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>Não há actores para mostrar.</p>
            }
        </div>
    </div>
    <div style="flex: 1;">
        <div class="d-flex justify-content-center">
            <h4>Criar Novo Actor</h4>
        </div>
        <form asp-action="CreateActor" asp-controller="Actor" method="post"  enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input class="form-control" name="nome" placeholder="" />
                <label>Nome do Actor</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" name="idade" placeholder="" />
                <label>Idade</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" name="bio" placeholder=""></textarea>
                <label>Biografia</label>
            </div>
            <div class="col-md-3">
                <input type="file" id="file" name="file" class=" imgdrop" multiple="multiple" />
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary" style="margin-left: 1rem; margin-right: 1rem; background: linear-gradient(90deg,#2980b9,#6dd5fa); color:white; border:none; font-weight:600;">Criar Actor</button>
            </div>
        </form>
    </div>
</div>